<!DOCTYPE html>
<html>
    <head>
        <title>Classification</title>
    </head>
    <body>
        <div align=center>
        <h1> Iris Flower Classification </h1>
        </br>
        <form action="#" method="post">
        <input type="text" name="sepal_len" placeholder="sepal_len(CM)"/>
        <input type="text" name="sepal_wd" placeholder="sepal_wd(CM)"/>
        <input type="text" name="petal_len" placeholder="petal_len(CM)"/>
        <input type="text" name="petal_wd" placeholder="petal_wd(CM)"/>
        <input type="submit"  value= "Predict" name="submit" />
    </body>


</html>